@import './variables.scss';

.App {
  text-align: center;
  color: #fff;
  font-weight: 200;
}

.hero {
  display: flex;
  margin-top: 5em;
  margin-left: $desktop-margin;
  margin-right: $desktop-margin;

  &__intro {
    text-align: left;
    margin-right: 20%;
  }

  &__intro-hi {
    font-style: italic;
    margin-bottom: 0;
  }

  &__intro-name {
    font-size: 3em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: .6em;

    span {
      font-style: italic;
      font-size: small;
      color: $third-color;
    }
  }

  &__intro-title {
    font-size: 1.3em;
    margin-bottom: 0;
    margin-top: 0;
  }

  &__intro-subtitle {
    font-size: 1.3em;
    margin-top: 0;
  }

  &__socials {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    span {
      margin-right: 1em;

      a {
        color: $third-color;
      }
    }
  }

  @media (max-width: #{$large-screen}) {
    display: grid;
    grid-row: auto;
    flex-direction: column;
    margin-top: 2em;
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;

    &__intro {
      margin: 0;
    }

    &__avatar {
      grid-row: 1/2;
      justify-content: center;
    }

    &__intro-hi, &__intro-name {
      text-align: center;
    }

    &__intro-name {
      font-size: 2em;
    }

    &__intro-title, &__intro-subtitle {
      text-align: center;
    }

    &__socials {
      justify-content: center;
    }
  }

  &__avatar {
    display: flex;
    align-items: center;
  }

  &__avatar-frame > img {
    border-style: dotted;
    border-width: medium;
    border-radius: 50%;
    border-color: $third-color;
    width: auto;
    max-height: 150px;
  }
}

.about {
  margin-top: 3em;
  margin-left: $desktop-margin;
  margin-right: $desktop-margin;
  display: grid;
  grid-template-columns: 30% 70%;

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: $heading;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__copy {
    text-align: justify;
    font-size: $medium-font;
  }

  @media (max-width: #{$large-screen}) {
    display: block;
    margin-top: 2em;
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
  }
}

.skills {
  margin-top: 3em;
  margin-left: $desktop-margin;
  margin-right: $desktop-margin;
  display: flex;
  flex-direction: row;
  
  &__body {
    margin-right: .5em;
  }

  &__list {
    margin-top: 3rem;
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    list-style: none;
    border-top: 1px solid rgb(244, 242, 242);
    border-bottom: 1px solid rgb(244, 242, 242);
    padding: 2rem 0px;
  }

  &__list-item {
    margin-bottom: 1rem;
    flex: 0 0 100%;
    font-size: $medium-font;
  }

  &__list-item::before {
    content: "~";
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    background-color: $third-color;
    text-align: center;
    border-style: groove;
    border-radius: 50%;
  }

  &__title {
    font-size: $heading;
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  @media (max-width: #{$large-screen}) {
    display: grid;
    grid-row: auto;
    margin-top: 2em;
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;

    &__title {
      grid-row: 1/2;
      justify-content: center;
    }
  }

}

.testimonials {
  margin-top: 3em;
  margin-left: $desktop-margin;
  margin-right: $desktop-margin;

  @media (max-width: #{$large-screen}) {
    margin-top: 2em;
    margin-left: $mobile-margin;
    margin-right: $mobile-margin;
  }

  &__header {
    font-size: $heading;
    font-weight: bold;
    align-items: center;
    margin-bottom: 1em;
  }

  &__body {
    position: relative;
    width: 100%;
    margin-bottom: -1.1em;
  }

  &__container {
    position: relative;
    width: 50%;
  }

  &__content {
    padding: 1em 4em;
    text-align: left;

  @media (max-width: #{$large-screen}) {
    padding: 1em 1em;
   }
  }

  &__content-title {
    font-weight: bold;
    font-size: 1em;
  }

  &__content-subtitle {
    font-weight: italic;
    font-size: .7em;
  }

  &__content-copy {
    font-size: .8em;
  }

  &__container::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $third-color;
    right: -13px;
    border: 4px solid #fff;
    z-index: 1;
    top: 30px;
  }

  .right:after {
    left: -13px;
  }

  .left {
    left: 0;
    border-right-style: solid; 
  }

  .right {
    width: 50%;
    left: 50%;
    border-left-style: solid; 
  }
}
